 <div class="jumbotron showcase">
           
            
 </div>
        

<form>
  
  <div class="form-group d-flex justify-content-center">
    {{input type="text" value = movieTitle placeholder = "Movie Search"}}
    <button {{action 'searchMovie'}} class="btn btn-primary ml-2 ">Search</button>
     <button {{action 'colorToggle'}} class="btn btn-primary ml-2 ">Light/Dark Theme</button>
  </div>
  


</form>

{{this.model.details.Title}}

<div id = "theme"> 
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Poster</th>
      <th scope="col">Name</th>
      <th scope="col">Year</th>
      <th scope="col">Type</th>
    </tr>
  </thead>
  <tbody>
    {{#each this.model.movies as |movie|}}
    <tr>

      {{!-- <LinkTo @route="details"  @query={{hash direction="asc"}}> --}}
      {{!-- {{#link-to "details"}} --}}
      <th scope="row"><img {{action "goToDetails" movie}} src={{movie.Poster}} alt="" height="180" width="120"></th>
      {{!-- {{/link-to}} --}}
      {{!-- </LinkTo> --}}
      <td>{{movie.Title}}</td>
      <td>{{movie.Year}}</td>
      <td>{{movie.Type}}</td>

    </tr>
    {{/each}}
  </tbody>
</table>
</div>











{{!-- 
<ul>
{{#each this.model.movies as |movie|}}

<li>
<div class="card " style="width: 18rem;">
  <div class="card-body container">
    <h4>{{movie.Title}}</h4>
   <img src={{movie.Poster}} alt=" " class = "container">
   <h5>{{movie.Runtime}}</h5>
   
   
  </div>
</div>
</li> --}}

{{!-- <li>
    {{movie.Title}}
   <img src={{movie.Poster}} alt="">
  </li> --}}
{{!-- {{/each}}
</ul> --}}

{{outlet}}